body {
  margin-left: auto;
  margin-right: auto;
  color: #393d41;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
}

h1,
h2,
h4,
h5,
h6 {
  color: #25a2c3;
  font-family: "Montserrat(bold)", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 700;
}
h3 {
  color: #25a2c3;
  font-family: "Montserrat(bold)", sans-serif;
  line-height: 1.5;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 20px;
}
header,
main,
footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}
/* header */
header {
  width: 100%;
  height: auto;
}
#logo {
  width: auto;

  margin-left: auto;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  text-align: left;
}
#logo-epico {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 50px;
}
.smart-worker {
  display: block;
  position: relative;
  text-align: center;
}
.smart-worker img {
  width: 100%;
  top: 0;
  bottom: 0;
}
.smart-worker h1 p {
  margin: 1;
  padding: 0;
}
.worker {
  height: 400px;
  width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-top: 20px;
}

#go {
  color: white;
  background-color: orangered;
  height: 65px;
  width: 200px;
  margin-top: 3em;
  font-size: 110%;
  font-weight: 900;
  border-radius: 7px;
  border-color: transparent;
}
#notebook {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50%;
  width: 425px;
  height: 425px;
  overflow: hidden;
  text-align: left;
}
.proposta {
  height: 100px;
  text-align: center;
  font-size: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 4em;
  margin-top: 4em;
}
.rossi {
  text-align: center;
  background-color: orangered;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  height: 300px;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 4em;
}
#italic {
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rossi h2 {
  margin-top: 30px;
  font-size: 2.5rem;
  color: white;
}
.rossi h4 {
  color: white;
  font-size: 1.4em;
  font-weight: 300;
}

.pre-scheda {
  height: 800px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.pre-scheda img {
  width: 100%;
  height: auto;
}
.scheda {
  text-align: center;
  padding: 2em;
  height: 200px;
  border: 1px solid #dee1e3;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: none;
  margin-bottom: 50px;
}
.scheda h2 {
  margin-bottom: 0.7em;
}

/* footer */
footer h3 {
  padding-top: 60px;
  color: white;
}
footer {
  color: white;
  background-color: #c8e7f0;
  text-align: center;
}
footer a {
  color: white;
}
#copy {
  text-align: center;
  display: block;
  padding: 20px;
}
#pixy {
  margin-top: 20px;
  border-top: 1px solid white;
  width: 280px;
}
